<!DOCTYPE html>
<html>
  <head>
    <title>Lab3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column border border-5 border-warning">
    <%= render "application/header" %>
    <div class="container pt-4 flex-grow-1">
      <%= yield %>
    </div>
    <%= render "application/footer" %>
  </body>

</html>
